<div class="fill">
  <h1 class="page-header">{{ ::S.header_new_offer }}</h1>
  <form class="offer-form">
    <div class="row">
      <div class="form-group col-sm-6">
        <input ui-date="{ dateFormat:S.date_sf }"
               type="text" data-type="date"
               placeholder="{{ ::S.form_offer_date }}"
               ng-model="offer.registration_date"
               class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <pl-select-customer placeholder="{{ ::S.form_customer }}"
                            ng-model="offer.customer"
                            class="form-control">
        </pl-select-customer>
      </div>
      <div class="form-group col-sm-6">
        <input type="text" placeholder="{{ ::S.form_product_type }}"
               ng-model="offer.product_type"
               class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <input type="text" placeholder="{{ ::S.form_product_size }}"
               ng-model="offer.product_size"
               class="form-control">
      </div>
      <div class="form-group col-sm-6">
        <input type="text" placeholder="{{ ::S.form_product_properties }}"
               ng-model="offer.product_properties"
               class="form-control">
      </div>
    </div>

  </form>
</div>