<div class="fill">
  <div class="pagebar">
    <div class="pagebar-left">
      <span class="btn btn-default btn-xs" ng-click="refresh()">Frissítés</span>
      <span class="btn btn-default btn-xs" ng-click="add()">Új</span>
      <span>Név: {{ name.selected }}</span>
    </div>

    <div class="pagebar-right">

      <div class="main-search">
        <pl-select-customer />
      </div>
    </div>
    <div class="pagebar-right">
      <input ui-date="{ dateFormat:S.date_sf }" type="text" data-type="date" placeholder="Dátum választó" ng-model="aDate" class="form-control main-date">
      <span class="icon-refresh" ng-show="loading"></span>
    </div>
  </div>
  <div ng-grid="gridOptions" class="main-grid"></div>
</div>