<div>
  <span class="btn btn-sm" ng-click="refresh()">Frissítés</span>
  <span class="btn btn-sm" ng-click="add()">Új</span>

  <ui-select class="select" ng-model="selected">
    <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="person.email as person in peopleAsync | propsFilter: {name: $select.search, age: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
      <small>
        email: {{person.email}}
        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      </small>
    </ui-select-choices>    
  </ui-select>
  <div ng-grid="gridOptions" class="gridStyle"></div>
</div>