<div class="fill">
  <h1 class="page-header">{{ S.header_new_customer }}</h1>
  <label>{{ S.label_customer_name }}</label>
  <div class="form-group">
    <input class="form-control" ng-model="customer.name">
  </div>
  <label>{{ S.label_customer_comment }}</label>
  <div class="form-group">
    <textarea class="form-control" rows="5" ng-model="customer.comment"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default" ng-click="saveCustomer()">{{ S.button_save_customer }}</button>
  </div>
</div>